* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

body {
  height: 100vh;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-repeat: no-repeat;
  overflow: hidden;
}

.title {
  text-align: center;
  margin: 10px;
  text-shadow: 1px 2px 4px #000;
}

.container {
  display: flex;
  padding: 10px;
  gap: 30px;
}

.container .subtitle {
  font-size: 1.3em;
  margin-bottom: 10px;
  border: none; 
  text-shadow: 1px 2px 4px #000;
}

.container #input {
  color: #000;
  padding: 5px;
  border: 2px solid #fff;
  outline: none;
}

.container #input:focus {
  border: 2px solid #000;
}

.post-button {
  display: block;
  width: 100px;
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px auto;  
}

.material-icons {
  cursor: pointer;
}

.container #post p{
  max-width: 200px;
  text-shadow: 1px 2px 2px #000;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2px;
  border-radius: 5px;
}

#msg {
  color: red;
  font-weight: 700;
}
